.textBtn:hover {
    cursor: pointer;
}

.addBtn {
    color: blue;
}

.addBtn:hover {
    color: white;
    background-color: blue;
}

.deleteBtn {
    color: red;
}

.deleteBtn:hover {
    color: white;
    background-color: red;
}

.editBtn {
    color: green;
}

.editBtn:hover {
    color: white;
    background-color: green;
}